@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes obstacleMove {
  0% {
    left: 100%;
  }
  100% {
    left: -60px;
  }
}

.animate-obstacleMove {
  animation: obstacleMove 2s linear infinite;
}
